<ion-list>
	<ion-item class="item-input item-floating-label">
		<span class="input-label">Enter your Blynk Auth token below:</span>
		<input placeholder="Your Blynk Auth token" type="text" name="token" ng-model="data.token" spellcheck="false" autocorrect="off" autocomplete="off" autocapitalize="off">
	</ion-item>
	<ion-item class="item-input item-floating-label">
		<span class="input-label">Enter the Blynk Server Host (optional)</span>
		<input placeholder="Blynk Server" name="blynkServer" type="text" ng-model="data.blynkServer">
	</ion-item>
</ion-list>
