<div class="list">
	<label class="item item-input item-floating-label">
		<span class="input-label">OpenGarage Name</span>
		<input placeholder="OpenGarage Name" type="text" ng-model="data.name" spellcheck="false" autocorrect="off">
	</label>
	<label class="item item-input item-floating-label">
		<span class="input-label">OpenGarage IP</span>
		<input placeholder="OpenGarage IP" type="text" ng-model="data.ip" spellcheck="false" autocorrect="off" autocomplete="off" autocapitalize="off">
	</label>
	<label class="item item-input item-floating-label">
		<span class="input-label">OpenGarage Password</span>
		<input placeholder="OpenGarage Password" type="password" ng-model="data.password">
	</label>
</div>
