<ion-list>
	<ion-item class="item-divider item-text-wrap">
		<p class='smaller center'>
			Use your OpenGarage.io login and password to securely sync sites between all your devices.
			Don't have an account? <span class="link" ng-click="$root.open('https://opengarage.io/wp-login.php?action=register')">Register here</a>
		</p>
	</ion-item>
	<ion-item class="item-input item-floating-label">
		<span class="input-label">Username</span>
		<input placeholder="Username" type="text" name="username" ng-model="data.username" spellcheck="false" autocorrect="off" autocomplete="off" autocapitalize="off">
	</ion-item>
	<ion-item class="item-input item-floating-label">
		<span class="input-label">Password</span>
		<input placeholder="Password" name="password" type="password" ng-model="data.password">
	</ion-item>
</ion-list>
