<ion-view>
	<ion-nav-title>{{$root.activeController ? "Switch" : "Select"}} Controller</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button" type="button" ng-click="data.showDelete = !data.showDelete">{{ data.showDelete ? "Done" : "Edit" }}</button>
    </ion-nav-buttons>
	<ion-content has-bouncing="false" class="has-footer" ng-class="{'vertical-center': $root.controllers.length === 0 }">
		<ion-list show-delete="data.showDelete" show-reorder="data.showDelete" ng-show="$root.controllers.length">
			<ion-item class="item-button-right sync-bar">
				Sync<span ng-if="isSynced">ed</span> with OpenGarage.io
				<button class="button button-dark" ng-click="changeSync()">
					<i class="icon" ng-class="{'ion-android-sync': !isSynced, 'ion-android-cancel': isSynced}"></i>
				</button>
			</ion-item>
			<ion-item class="center item-thumbnail-left" ng-click="setController( $index )" ng-repeat="controller in $root.controllers track by $index">
				<div class="thumb-container">
					<img src="img/placeholder.png" ng-if="!controller.image">
					<img ng-src="{{controller.image}}" ng-if="controller.image">
					<div class="corner-ribbon enable-pointer-events" ng-click="selectPhoto($event,$index)">
						<i class="icon ion-ios-upload" ng-class="{'ion-ios-upload': !data.showDelete, 'ion-ios-trash': data.showDelete}"></i>
					</div>
				</div>
				<ion-delete-button class="ion-minus-circled" ng-click="deleteController($index)"></ion-delete-button>
				<h2>{{controller.name}}</h2>
				<p ng-if="controller.lastUpdate">Last Updated: {{getTime(controller.lastUpdate)}}</p>
				<ion-reorder-button class="ion-navicon" on-reorder="moveItem(controller, $fromIndex, $toIndex)"></ion-reorder-button>
		    </ion-item>
		</ion-list>
		<div ng-hide="$root.controllers.length" class="center">
			<h1>No Controllers</h1>
			<p>Get started by adding a controller by tapping 'Add Controller' below.</p>
		</div>
	</ion-content>
	<form>
		<input type="file" class="hide" id="photoUpload" />
	</form>
	<ion-footer-bar class="bar-stable center">
		<button class="button button-dark" ng-click="showAddController()">
			Add Controller
		</button>
	</ion-footer-bar>
</ion-view>
