<ion-view>
	<ion-nav-title>{{data.pageTitle}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button" type="button" ng-click="data.showDelete = !data.showDelete">{{ data.showDelete ? "Done" : "Edit" }}</button>
    </ion-nav-buttons>
	<ion-content has-bouncing="false" class="has-footer" ng-class="{'vertical-center': $root.controllers.length === 0 }">
		<ion-list show-delete="data.showDelete" show-reorder="true" ng-show="$root.controllers.length">
			<ion-item class="center" ng-click="setController( $index )" ng-repeat="controller in $root.controllers track by $index">
				<ion-delete-button class="ion-minus-circled" ng-click="deleteController($index)"></ion-delete-button>
				{{controller.name}}
				<ion-reorder-button class="ion-navicon" on-reorder="moveItem(controller, $fromIndex, $toIndex)"></ion-reorder-button>
		    </ion-item>
		</ion-list>
		<div ng-hide="$root.controllers.length">
			<h1>No Controllers</h1>
		</div>
	</ion-content>
	<ion-footer-bar class="bar-stable center">
		<button class="button button-dark" ng-click="showAddController()">
			Add Controller
		</button>
	</ion-footer-bar>
</ion-view>
