<ion-view class="center" view-title="Help">
	<ion-content has-bouncing="false" class="vertical-center">
		<div class="card">
			<div class="item item-text-wrap">
				User manual for OpenGarage is available <span class="link" ng-click="$root.open('https://github.com/OpenGarage/OpenGarage-Firmware/blob/master/docs/OGManual.pdf')">here</span>.
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				This is open source software: source code and changelog for this application can be found at <span class="link" ng-click="$root.open('https://github.com/OpenGarage/OpenGarage-App/')">here</span>.
			</div>
		</div>
		<div>
			App Version: {{ $root.version.name }}
		</div>
	</ion-content>
</ion-view>
