<ion-view view-title="History">
	<ion-content has-bouncing="false" ng-class="{'vertical-center': !isLocal }">
		<div ng-show="!isLocal" class="center padding">
			<h1>Local Connection Required</h1>
			<p>OpenGarage log data can only be accessed on the same network. Please ensure the same WiFi network is being used and try again.</p>
		</div>
		<div ng-show="isLocal" class="history padding">
			<table>
				<tr>
					<th>Time</th>
					<th>Status</th>
					<th>Distance (cm)</th>
				</tr>
				<tr ng-repeat="entry in logs">
					<td>{{ entry[ 0 ] * 1000 | date: "M-d-yy h:mm:ss a" }}</td>
					<td>{{ entry[ 1 ] ? "Opened" : "Closed" }}</td>
					<td>{{ entry[ 2 ] }}</td>
				</tr>
			</table>
		</div>
	</ion-content>
</ion-view>
