<ion-view view-title="History">
	<ion-content has-bouncing="false" ng-class="{'vertical-center': !isLocal }">
		<div ng-show="!isLocal" class="center padding">
			<h1>Blynk Token Unsupported</h1>
			<p>OpenGarage log data cannot be accessed using Blynk. Please switch to an OpenThings Cloud Token or connect to the same WiFi network.</p>
		</div>
		<div ng-show="isLocal" class="padding">
			<ion-list class="list-inset">
				<ion-item ng-repeat="entry in logs" ng-class="{'item-divider': entry.isDivider}" class="item-icon-left">
					<i class="icon" ng-class="{'ion-ios-calendar-outline': entry.isDivider, 'ion-ios-circle-filled': !entry.isDivider , 'assertive': !entry[ 1 ], 'balanced': !entry.isDivider && entry[ 1 ]}"></i>
					<span ng-if="entry.isDivider">{{entry.day}}</span>
					<span ng-if="!entry.isDivider">
						{{ entry[ 1 ] ? "Opened" : "Closed" }}
					</span>
					<span class="item-note" ng-if="!entry.isDivider">
						{{ entry[ 0 ] * 1000 | date: "h:mm:ss a" }}
					</span>
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>
