<ion-view view-title="History">
	<ion-content has-bouncing="false" ng-class="{'vertical-center': !isLocal }">
		<div ng-show="!isLocal" class="center padding">
			<h1>Local Connection Required</h1>
			<p>OpenGarage log data can only be accessed on the same network. Please ensure the same WiFi network is being used and try again.</p>
		</div>
		<div ng-show="isLocal" class="padding">
			<ion-list class="list-inset">
				<ion-item ng-repeat="entry in logs" ng-class="{'item-divider': entry.isDivider}">
					<span ng-if="entry.isDivider">{{entry.day}}</span>
					<span ng-if="!entry.isDivider">
						{{ entry[ 0 ] * 1000 | date: "h:mm:ss a" }}
					</span>
					<span class="item-note" ng-if="!entry.isDivider">
						{{ entry[ 1 ] ? "Opened" : "Closed" }}
					</span>
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>
