<ion-view>
	<ion-nav-title>{{$root.activeController.name}}</ion-nav-title>
	<ion-content has-bouncing="false" class="home vertical-center has-footer" scroll="false" on-swipe-right="changeController(-1)" on-swipe-left="changeController(1)">
		<div class="background" ng-style="{'background-image':'url(' + $root.activeController.image + ')'}" ng-show="$root.activeController.image"></div>
		<div class="prev arrow" ng-click="changeController(-1)" ng-show="currentIndex > 0">‹</div>
		<button class="door-button" ng-click="toggleDoor()">{{ $root.activeController.door ? "Close" : "Open" }}</button>
		<div class="next arrow" ng-click="changeController(1)" ng-show="currentIndex < $root.controllers.length - 1">›</div>
		<div class="add-photo pointer" ng-show="!$root.activeController.image" ng-click="selectPhoto($event,currentIndex)">
			<i class="icon ion-camera"></i> Add Photo
		</div>
	</ion-content>
	<ion-footer-bar class="bar bar-footer center">
		<button class="button round-button" ng-class="{'button-assertive': !$root.connected, 'button-balanced': $root.connected}"></button>
		<h5 class="padding-left padding-right">{{ $root.connected ? "connected" : "disconnected" }}</h5>
		<button class="button round-button" ng-class="{'button-assertive': $root.activeController.door, 'button-balanced': !$root.activeController.door}"></button>
		<h5 class="padding-left">{{ $root.activeController.door ? "opened" : "closed" }}</h5>
	</ion-footer-bar>
</ion-view>
