<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content id="mainContent" drag-content="sideMenuDraggable">
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button ng-hide="$exposeAside.active"></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button type="button" class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-hide="$exposeAside.active"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" expose-aside-when="(min-width:568px)">
        <ion-header-bar align-title="left" class="bar-dark">
        </ion-header-bar>
        <ion-content overflow-scroll="false">
            <ion-list>
                <ion-item class="item-icon-left" ng-click="closeMenu()" ui-sref-active="active" ui-sref="app.home" ng-class="$root.activeController ? '' : 'ui-disabled'">
                    <i class="icon ion-home"></i>
                    Home
                </ion-item>
                <ion-item class="item-icon-left" ng-click="closeMenu()" ui-sref-active="active" ui-sref="app.rules" ng-class="$root.activeController ? '' : 'ui-disabled'" ng-show="$root.hasGeofence">
                    <i class="icon ion-ios-location"></i>
                    Location Control
                </ion-item>
                <ion-item class="item-icon-left" ng-click="closeMenu()" ui-sref-active="active" ui-sref="app.controllerSelect">
                    <i class="icon ion-arrow-swap"></i>
                    Manage Controllers
                </ion-item>
                <ion-item class="item-icon-left" ng-click="closeMenu()" ui-sref-active="active" ui-sref="app.history" ng-class="$root.activeController ? '' : 'ui-disabled'">
                    <i class="icon ion-ios-paper"></i>
                    History
                </ion-item>
                <ion-item class="item-icon-left" ng-click="closeMenu()" ui-sref-active="active" ui-sref="app.settings" ng-class="$root.activeController ? '' : 'ui-disabled'">
                    <i class="icon ion-android-settings"></i>
                    Settings
                </ion-item>
                <ion-item class="item-icon-left" ng-click="closeMenu()" ui-sref-active="active" ui-sref="app.help">
                    <i class="icon ion-information-circled"></i>
                    Help
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
