<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content id="mainContent">
        <ion-nav-bar class="bar-royal">
            <ion-nav-back-button ng-hide="$exposeAside.active"></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button type="button" class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-hide="$exposeAside.active"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" expose-aside-when="large">
        <ion-header-bar align-title="left" class="bar-royal">
        </ion-header-bar>
        <ion-content overflow-scroll="false">
            <ion-list>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
