<ion-view view-title="Settings">
	<ion-content has-bouncing="false" ng-class="{'vertical-center': !isLocal }">
		<div ng-show="!isLocal" class="center padding">
			<h1>Blynk Token Unsupported</h1>
			<p>OpenGarage log data cannot be accessed using Blynk. Please switch to an OpenThings Cloud Token or connect to the same WiFi network.</p>
		</div>
		<form ng-show="isLocal" name="form" novalidate="novalidate" class="settings padding limit-width">
			<div class="list">
				<div class="item item-divider">
					Basic
				</div>
				<label class="item item-input">
					<span class="input-label">Name</span>
					<input type="text" placeholder="Name" ng-model="settings.name">
				</label>
				<label class="item item-input item-select">
					<span class="input-label">Mount Type</span>
					<select ng-model="settings.mnt" ng-options="o.val as o.name for o in [{val:0,name:'Ceiling'},{val:1,name:'Side'}]"></select>
				</label>
				<label class="item item-input item-select">
					<span class="input-label">Sound Alarm</span>
					<select ng-model="settings.alm" ng-options="o.val as o.name for o in [{val:0,name:'No Alarm'},{val:1,name:'5 seconds'},{val:2,name:'10 seconds'}]"></select>
				</label>
				<div class="item item-divider">
					Advanced
				</div>
				<label class="item item-input">
					<span class="input-label">Threshold (cm)</span>
					<input type="number" placeholder="Threshold (cm)" ng-maxlength="4" ng-model="settings.dth">
				</label>
				<label class="item item-input">
					<span class="input-label">Refresh (s)</span>
					<input type="number" placeholder="Update Frequency (s)" ng-maxlength="3" ng-model="settings.riv">
				</label>
				<label class="item item-input" ng-if="settings.cdt">
					<span class="input-label">Click Time (ms)</span>
					<input type="number" placeholder="Button Hold Time (ms)" ng-maxlength="5" ng-model="settings.cdt">
				</label>
				<label class="item item-input item-select">
					<span class="input-label">Connection</span>
					<select ng-model="settings.acc" ng-options="o.val as o.name for o in [{val:0,name:'Local Only'},{val:1,name:'Local + Cloud'},{val:2,name:'Cloud Only'}]"></select>
				</label>
				<label class="item item-input" ng-show="settings.acc > 0">
					<span class="input-label">Token (Blynk or OpenThings Cloud)</span>
					<input type="text" placeholder="Token (Blynk or OpenThings Cloud)" ng-maxlength="32" ng-model="settings.auth">
				</label>
				<label class="item item-input" ng-show="settings.acc < 2">
					<span class="input-label">HTTP Port</span>
					<input type="number" placeholder="HTTP Port" ng-maxlength="5" ng-model="settings.htp">
				</label>
			</div>
			<button ng-disabled="form.$invalid" ng-click="submit()" class="button center button-block button-dark text" type="submit">Save</button>
			<button ng-click="changePassword()" class="button center button-block button-positive text">Change Password</button>
			<button ng-click="restart()" class="button center button-block button-assertive text">Restart Controller</button>
		</form>
	</ion-content>
</ion-view>
